---
---

@import "variables";

html {
  font-family: $system-fonts;
  font-size: calc(#{$font-size-default} + 1vw);
  line-height: $line-height-default;
  overflow-wrap: break-word;
  text-underline-offset: 0.2em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  background: $col-dark-main;
  color: $col-dark-text;
  border-top: .3rem solid $col-light-highlight;

  @media (prefers-color-scheme: light) {
    background: $col-light-main;
    color: $col-light-text;
    border-color: $col-dark-highlight;
  }
}

body {
  margin: 0 auto;
  width: 90%;
  max-width: 26rem;
  overflow-x: hidden;
}

main {
  display: block;
  margin: 0;
  padding: 0 0 4rem;
}

* + * {
  margin-top: 1rem;
}

header {
  padding: 2rem 0;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.1;
  margin: 2rem 0 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;

  a {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h3 + p {
  margin-top: 0.5rem;
}

p + p {
  margin-top: 0.75rem;
}

li + li {
  margin-top: 0.25rem;
}

a {
  color: $col-dark-text;
  text-decoration-color: $col-dark-highlight;

  &:link, &:visited {
    color: $col-dark-text;
  }

  &:hover, &:active, &:focus {
    color: $col-dark-highlight;
  }

  @media (prefers-color-scheme: light) {
    color: $col-light-text;
    text-decoration-color: $col-light-highlight;

    &:link, &:visited {
      color: $col-light-text;
    }

    &:hover, &:active, &:focus {
      color: $col-light-highlight;
    }
  }
}

blockquote {
  padding: 0.25rem 1rem;
  margin-left: 0;
  margin-right: 0;
  background: lighten($col-dark-main, 5%);
  border-left: .25rem solid $col-light-highlight;

  @media (prefers-color-scheme: light) {
    background: darken($col-light-main, 5%);
    border-color: $col-dark-highlight;
  }
}

p img {
  max-width: 100%;
}

.header-logo {
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
  color: $col-dark-text;

  &:link, &:visited {
    color: $col-dark-text;
  }

  @media (prefers-color-scheme: light) {
    color: $col-light-text;

    &:link, &:visited {
      color: $col-light-text;
    }
  }
}

.header-nav {
  margin: .5rem 0 0;
  line-height: 1.5;

  a {
    margin: 0 .5rem 0 0;
    text-decoration: none;
    color: $col-dark-highlight;

    @media (prefers-color-scheme: light) {
      color: $col-light-highlight;
    }

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  @media (min-width: 600px) {
    margin: 0;
    float: right;

    a {
      margin: 0 0 0 1rem;
      text-align: right;
    }
  }
}

.date {
  text-transform: uppercase;
  font-size: 0.6rem;
  opacity: .8;
  margin-bottom: 2rem;
}

:focus {
  outline: .125rem solid $col-light-highlight;
  outline-offset: .125rem;

  @media (prefers-color-scheme: light) {
    outline-color: $col-dark-highlight;
  }
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -9999rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

footer {
  font-size: .6rem;
  text-align: center;
}