// Colours
$col-dark-main: #0f1624;
$col-light-main: #f5f5f5;
$col-link: #1693a5;
$col-highlight: #fbb829;

// Fonts
$system-fonts: "Alice", serif;
$font-size-default: 15px;
$line-height-default: 1.3;