// Colours
$col-dark-main: #031634;
$col-light-main: #F0F0F0;
$col-link: #1693A5;
$col-highlight: #FBB829;

// Fonts
$system-fonts: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
$font-size-default: 18px;
$line-height-default: 1.5;
