---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>

<script>
window.onload = function() {
  countUpFromTime("Nov 25, 2008 09:00:00", 'exp');
};
function countUpFromTime(a,d){a=new Date(a).getTime();var e=new Date,a=new Date(a),c=e-a;days=Math.floor(c/864e5*1),years=Math.floor(days/365),years>1&&(days-=365*years),hours=Math.floor(c%864e5/36e5*1),mins=Math.floor(c%864e5%36e5/6e4*1),secs=Math.floor(c%864e5%36e5%6e4/1e3*1);var b=document.getElementById(d);b.getElementsByClassName("years")[0].innerHTML=years,b.getElementsByClassName("days")[0].innerHTML=days,b.getElementsByClassName("hours")[0].innerHTML=hours,b.getElementsByClassName("minutes")[0].innerHTML=mins,b.getElementsByClassName("seconds")[0].innerHTML=secs,clearTimeout(countUpFromTime.interval),countUpFromTime.interval=setTimeout(function(){countUpFromTime(a,d)},1e3)}
</script>
